[Desktop Entry]
Name=Luogu Desktop
Comment=Unofficial Luogu Desktop Client
Exec=luogu-desktop
Icon=luogu-desktop
Terminal=false
Type=Application
Categories=Utility;Network;
StartupWMClass=LuoguDesktop
